<form class="" [formGroup]="newprojectform" (ngSubmit)="saveproject()">
	<legend>{{edit?"Edit Project":"New Project"}}</legend>

	<div class="container-fluid">
		<div class="row">
			<div class="col-12 p-2 m-1">
				<input type="text" class="form-control" formControlName="pname" placeholder="input project name"/>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="offset-md-6 col-12 col-md-3 mb-2 mb-md-0">
				<button type="submit" class="btn btn-success col-12" [disabled]="newprojectform.invalid">
					Save
				</button>
			</div>
			<div class="col-12 col-md-3">
				<button type="button" class="btn btn-danger col-12" (click)="reset()">
					reset
				</button>
			</div>
		</div>
	</div>
</form>
