<div class="container-fluid">
	<div class="row">
		<div class="col-12 text-center h3 text-decoration-underline">
			All reports
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<app-timereports-table
				[timeReports]="timereports"
			>
			</app-timereports-table>
		</div>
	</div>

	<div class="row">
		<div class="col-12 text-center h3 text-decoration-underline">
			Projects
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<app-timereports-table
				[timeReports]="timereportsprojects"
				[headers]="[PROJECT,HOURS]"
			>
			</app-timereports-table>
		</div>
	</div>

	<div class="row">
		<div class="col-12 text-center h3 text-decoration-underline">
			Projects and Employee
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<app-timereports-table
				[timeReports]="timereportspe"
				[headers]="[PROJECT,EMPLOYEE,HOURS]"
			>
			</app-timereports-table>
		</div>
	</div>

	<div class="row">
		<div class="col-12 text-center h3 text-decoration-underline">
			Employee and projects
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<app-timereports-table
				[timeReports]="timereportsep"
				[headers]="[EMPLOYEE,PROJECT,HOURS]"
			>
			</app-timereports-table>
		</div>
	</div>
</div>
